*, ::after, ::before
    margin: 0
    padding: 0
    box-sizing: border-box

html
    font-size: 62.5%
    scroll-behavior: smooth

body
    font-weight: 400
    font-size: 1.6rem
    line-height: 2.5rem
    color: #333

.container
    height: 100vh
    display: flex
    justify-content: center
    align-items: center
    background: linear-gradient(to bottom right, #000000, #00000080), url(../img/autumn_large_2400.jpg) center/cover no-repeat

#clock
    font-family: monospace
    font-weight: bold
    font-size: 6rem
    color: #fff
